body {
    background-color: hsl(275, 100%, 97%);
    margin: 0;
}

main {
    position: relative;
}

#upper-bg {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;

    img {
        min-width: 100%;
        max-width: 100%;
        height: 35vh;
        object-fit: cover;
    }
}

#accordion-container {
    margin-inline: auto;
    padding: 2em;
    padding-top: 1em;

    border: 3px solid black;
    background-color: white;

    position: relative;
    bottom: 3em;

    width: 50%;

    #accordion-header {
        display: flex;
        column-gap: 1em;
        margin-bottom: .5em;
    }

    #accordion-list {
        .accordion-item {
            .accordion-item-button {
                margin-bottom: 2.5em;

                cursor: pointer;
                border: none;
                background: transparent;
            }
        }
    }

}