/* Fonts */
/* @font-face {
    font-family: "WorkSans";
    src: url(/assets/fonts/WorkSans-VariableFont_wght.ttf) format("truetype");
    font-weight: 400 700;
    font-style: normal;
} */

body {
    background-color: hsl(275, 100%, 97%);
    margin: 0;
    font-family: "Work Sans", sans-serif;
}

main {
    position: relative;
}

button {
    font-family: inherit;
}

#upper-bg {
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-grow: 1;
    position: relative;

    img {
        min-width: 100%;
        max-width: 100%;
        height: 35vh;
        object-fit: cover;
    }
}

#accordion-container {
    margin-inline: auto;
    padding-inline: 2.2em;
    padding-top: 0.5em;
    padding-bottom: 1.75em;

    border-radius: 1em;
    background-color: white;
    box-shadow: 0px 10px 20px -10px hsl(292, 16%, 49%);

    position: relative;
    bottom: 8.3em;

    width: 36.2%;

    #accordion-header {
        display: flex;
        column-gap: 1.3em;
        margin-top: .25em;
        align-items: center;

        h1 {
            font-weight: 700;
            font-size: 3.1rem;
            color: hsl(292, 42%, 14%);
            margin-top: 0.45em;
            margin-bottom: 0.55em;
        }

        img {
            width: 7.8%;
            padding-bottom: .2em;
        }
    }

    #accordion-list {
        .accordion-item {
            margin-bottom: 1.25em;
            border-bottom: 1px solid hsl(0, 0%, 85%);
            .accordion-item-button {
                width: 100.5%;
                padding-bottom: 1.15em;
                padding-inline: 0;

                color: hsl(292, 42%, 14%);
                font-weight: 600;
                font-size: 1rem;
                text-align: start;
                line-height: 1.8em;

                cursor: pointer;
                border: none;
                background: transparent;

                transition: 0.25s;
            }

            .accordion-item-button:hover {
                color: hsl(282, 72%, 51%);
            }

            .accordion-item-button::after {
                content: '';
                background-image: url("/assets/images/icon-plus.svg");
                width: 1.875em;
                height: 1.875em;
                background-size: 90%;
                background-repeat: no-repeat;
                float: right;
            }

            .active::after {
                content: '';
                background-image: url("/assets/images/icon-minus.svg");
                width: 1.875em;
                height: 1.875em;
                background-size: 90%;
                background-repeat: no-repeat;
                float: right;
            }

            .accordion-item-panel {
                font-weight: 400;
                font-size: .89rem;
                color: hsl(292, 16%, 49%);
                display: none;
                overflow: hidden;
                margin-bottom: 1.5em;
                line-height: 1.5em;
            }
        }
    }

}